@use "partials/reset";
@use "partials/buttons";
@use "partials/animations";

$backgroundPurple: #640fc5;
$WhiteText: white;



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $backgroundPurple;
  padding: 2em 0 2em 6em ;
  
}

nav{
  margin-right: 12%;
   ul{
    display: flex;
    list-style: none;
  } li{
    margin-left: 40px;
  } a{
    color: $WhiteText;
    text-decoration: none;
  }
  }

  .hero{
    background-color: $backgroundPurple;
    position: relative;
    display: flex;
    h1{
      font-size: 5em;
      margin-bottom: 20px;
      font-weight: bold;
    } p{
      font-size: 1.2em;
      color: $WhiteText;
    } img{
      position: absolute;
      width: 30%;
      left: 60%;
      top: 10%;
    }

  }



  .container{
    max-width: 50%;
    margin: 6em;
  }
